.btn{
    background-color: rgba(0, 255, 136, 0.752);
    border: none;
    border-radius: 2px;
    display: flexbox;
    height: 5rem;
    width: 5rem;
    margin: 0rem;
    border:0.2px solid;
    font-size: 2rem;
}
.board-table div{
    display: flex;
    justify-content: center;
}
.status{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
   }
