.App{
  margin:none;
  margin-top: 1rem;
  padding:none ;
  box-sizing: border-box;
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}


.status{
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}